.vscode
venv

.idea/PlateDetector.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
output/
log.txt
dataset/
src/__pycache__/
src/plate_detector/__pycache__/
src/plate_detector/lapi.weights
train20X20/H/h_o1.jpg
/dataset/
